@model IEnumerable<BTL_TTCN.Models.TheLoai>

<style>
    .category-container {
        display: flex;
        flex-wrap: wrap;
    }

        .category-container a {
            background-color: #90ee90;
            color: #ffffff;
            padding: 10px 15px;
            text-decoration: none;
            flex-grow: 1;
            text-align: center;
        }

            .category-container a:hover {
                background-color: #77dd77;
            }
</style>

<div class="category-container">
    @foreach (var item in Model)
    {
        var url = "/SachTheoTheLoai/" + item.MaTheLoai;
        <a href="@url">@item.TenTheLoai</a>
    }
</div>
